.navbar-default {
    background-color: darkslategrey;
    border-color: #e7e7e7;
    padding: 5px 0;

    
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-toggle:hover {
    background-color: white;
}
.navbar-default .navbar-brand:hover {
    color: lightblue;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover {
    color: lightblue;
    background-color: transparent;
}
#top-navbr-grp
{
    margin-left: 130px;
}
.inner-gape{
    
    margin-right: 10px;
}


/* callender page styles */

.calendar-container-style
{
  margin-top: 100px;
}

ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
  height: 210px;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  font-size: 35px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
  font-size: 35px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin:0;
  padding: 10px 0;
  height: 50px;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  float: left;
  text-align: center;
  margin-top: 5px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  height: 280px;
}

.days li {
  float: left;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 40px;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */


/* attendance register */
.red{
  
  border: 1px solid black;
  border-bottom: none;
  
}
.add-sub-btn
{

  height: 50px;
  margin-top: 5px;  
  width: 100%;
  margin-top: 100px;
}
.attendancebox
{
  margin-top: 30px;
  box-shadow: 1px 1px 10px 1px #AEAEAE;

}
.attended-bunked
{
margin-top: 20%;
text-align: center;
}
.font-style-markd{
  font-size: 1.5rem;
  text-align: center;


}
.attendance-bg
{
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 120%;
  color: white;
  position: relative;
  left: -40px;
  top: 10px;
  
}
.attendance-percentage
{
  text-align: center;
  padding-top: 23px;
}
.btn-style
{
  border-radius: 50px;
  height: 50px;
  width: 50px;
  font-size: 2.9rem;
  margin: 10px auto;
  color:white;
  text-shadow: 2px balck'

}
.attendance-centre
{
  margin-top: 3%;
}
.btn-info1 {
  color: #fff;
  background-color: #022335;
  border-color: #022335
}
.btn-info1:hover {
  color: #fff;
  background-color:#022335;
  border-color: #022335;
}

.sub-bunk
{
margin-left: 10%;
}
.text-allign-left
{
  text-align: left;
}
.attandance-name{
  margin-left:-43px;
  position: relative;
  top: 15px;
  
}
.containerform
{
  width: 43%;
}
.form-group-two
{
  float: left;
}
.inputhing
{
  border: none;
  border-bottom: 1px solid grey;
  padding: 0px;
  position: relative;
  top: -15%;
  width: 250%;
  
}
.form-head
{
  font-size: 1.2rem;
  position: relative;
  top: 18%;
  width: 250%;
}

.inputhing2
{
  width: 125%;
  border: none;
  border-bottom: 1px solid grey;
  padding: 0px;

  
  top: -15%;
}
.bnk-atnd
{
  float: left;
}
hr{
  width:250%;
}
h5{
  text-align: center;
  
  top: 12%;
}
.btn-default1
{
  width: 260%;
  background:  #022335;
  color: white;
  margin-top: 5%;
}

.fa-calendar-check
{
  height: 40px;
  width: 40px;
}